<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Curso</title>
</head>
<body>

<form action="#" th:action="${action == 'create' ? '/curso/addCurso' : '/curso/editCurso/' + curso.id}" th:object="${curso}" method="post">
    <p>Descrição: <input type="text" th:field="*{descricao}" placeholder="Insira a descrição do curso" /></p>

    <p>
        <input type="submit" value="Adicionar" th:if="${action == 'create'}"/>
        <input type="submit" value="Atualizar" th:if="${action == 'edit'}"/>
    </p>
</form>

</body>
</html>