<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Aluno</title>
    
</head>
<body>
    
  
       <h1><p th:text="${aluno.primeiroNome} + ' ' + ${aluno.ultimoNome}"></h1>
        <p th:text="'Curso:  ' + ${aluno.curso}"></p>
        <p th:text="'Linguagem favorita:  ' + ${aluno.linguagem}"></p>
        <p>SOs favoritos: </p>
        <ul>
            <li th:each="os : ${aluno.sistemasOperacionas}">
                <span th:text="${os}"/>
            </li>
        </ul> 
    
</body>
</html>