<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Alunos</title>

</head>

<body>



    <p>Lista de alunos por SO </p>
    <table id="listTable" th:each="item: ${alunos}">
        <thead>
          <tr th:text="${item.key} + ' - ' + ${item.value.size()} + ' aluno(s)'"></tr>
          <tr>
            <th th:text="Nome"></th>
            <th th:text="Ações"></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="aluno: ${item.value}">
            <td th:text="${aluno.primeiroNome} +' '+ ${aluno.ultimoNome}"></td>
            <td>
              <a th:href="@{'/aluno/getAluno/' + ${aluno.id}}" th:text="Detalhar"></a>
              <br>
              <a th:href="@{'/aluno/deleteAluno/' + ${aluno.id}}" th:text="Apagar"></a>
            </td>
          </tr>
        </tbody>
      </table>
      <br><br>
    <a href="showForm">Formulário de alunos</a><br>

</body>

</html>